<launch>
    <arg name="agent_id" default = "0"/>
    <arg name="config_path" default = "$(find v4rl_mav_launch)/parameters/common/vins_v4rl.yaml" />
    <arg name="vins_path" default = "$(find feature_tracker)/../config/../" />
    
    <node name="feature_tracker_$(arg agent_id)" pkg="feature_tracker" type="feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vins_estimator_$(arg agent_id)" pkg="vins_estimator" type="vins_estimator" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
       <param name="origin_frame_name" type="string" value="odom" />
       <param name="camera_frame_name" type="string" value="cam0" />
       <param name="imu_frame_name" type="string" value="imu0" />

       <remap from="vins_estimator_$(arg agent_id)/features" to="feature_tracker_$(arg agent_id)/feature" />
       <remap from="vins_estimator_$(arg agent_id)/feature_restart" to="feature_tracker_$(arg agent_id)/restart" />
    </node>

    <node name="pose_graph_$(arg agent_id)" pkg="pose_graph" type="pose_graph" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="visualization_shift_x" type="int" value="0" />
        <param name="visualization_shift_y" type="int" value="0" />
        <param name="skip_cnt" type="int" value="0" />
        <param name="skip_dis" type="double" value="0" />

        <remap from="pose_graph_$(arg agent_id)/keyframe_pose" to="vins_estimator_$(arg agent_id)/keyframe_pose" />
        <remap from="pose_graph_$(arg agent_id)/keyframe_point" to="vins_estimator_$(arg agent_id)/keyframe_point" />
    </node>

</launch>
