<launch>
  <!-- Debug -->
  <arg name="launch_prefix" default=""/> <!-- xterm -fs 60 -e gdb args -->
  
  <node name="pose_graph_backend" pkg="pose_graph_backend" type="pose_graph_node" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="bow_voc" value="$(find pose_graph_backend)/conf/briskOKVIS_k10_L6_voc_v1.yml.gz"/>
    <param name="num_agents" value="2" />

    <param name="cam_config0" value="$(find pose_graph_backend)/conf/ncamera_23026.yaml"/> <!-- JOHNNY -->
    <rosparam param="gps_reference0"> [47.234709, 7.681923, 483.291699323]</rosparam>
    <rosparam param="gps_offset0"> [0.0009, -0.0541, -0.1734]</rosparam>

    <param name="cam_config1" value="$(find pose_graph_backend)/conf/ncamera_v4rl0.yaml"/> <!-- JOHNNY -->
    <rosparam param="gps_reference1"> [47.234709, 7.681923, 483.291699323]</rosparam>
    <rosparam param="gps_offset1"> [0.0009, -0.0541, -0.1734]</rosparam>
   
    <!-- SYSTEM PERFORMANCE PARAMETERS -->
    <param name="gps_align_num_corr"              value="6"/>
    <param name="gps_align_cov_max"               value="0.025"/> 
    <param name="rel_pose_corr_min"               value="12"/>
    <param name="rel_pose_outlier_norm_min"       value="0.95"/>
    <param name="local_opt_window_size"           value="8"/> 

    <param name="loop_candidate_min_score"        value="0.015"/>
    <param name="max_loop_candidates"             value="5"/>
    <param name="loop_image_min_matches"          value="50"/> 
    <param name="loop_detect_sac_thresh"          value="25"/>
    <param name="loop_detect_sac_max_iter"        value="100"/> 
    <param name="loop_detect_min_sac_inliers"     value="9"/> 
    <param name="loop_detect_min_sac_inv_inliers" value="9"/> 
    <param name="loop_detect_min_pose_inliers"    value="9"/>

    <param name="loop_detect_reset_time"          value="6"/>
    <param name="loop_detect_skip_kf"             value="1"/> <!-- set to 1 for process every kf -->
    
    <param name="information_odom_drift_yaw"      value="20000"/>
    <param name="information_odom_drift_p"        value="5000"/>
    <param name="information_odom_map_yaw"        value="200"/>
    <param name="information_odom_map_p"          value="10"/>
    <param name="information_odom_edges_yaw"      value="100000"/>
    <param name="information_odom_edges_p"        value="10000"/>
    <param name="information_loop_edges_yaw"      value="2"/>
    <param name="information_loop_edges_p"        value="1"/>

    <param name="ignore_gps_altitude"             value="true"/>
    <param name="simulation"                      value="false"/>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    
    <!-- SYSTEM TOPIC REMAPPING -->
    <param name="gps_active_0" value="true"/>
    <remap from="/keyframe0"   to="/pegasus/pcl_fusion_0/fused_vins_keyframe" /> 
    <remap from="/odometry0"   to="/pegasus/vins_estimator/odometry" />
    <remap from="/fake_gps0"   to="/pegasus/vrpn_client/raw_transform" />
    <remap from="/gps0"        to="/pegasus/gps" />
    <remap from="/fused_pcl0"  to="/pegasus/pcl_fusion_0/fused_pcl"/>

    <param name="gps_active_1" value="true"/>
    <remap from="/keyframe1"   to="/loon/pcl_fusion_1/fused_vins_keyframe" /> 
    <remap from="/odometry1"   to="/loon/vins_estimator/odometry" />
    <remap from="/fake_gps1"   to="/pegasus/vrpn_client/raw_transform" />
    <remap from="/gps1"        to="/loon/mavros/global_position/raw/fix" />
    <remap from="/fused_pcl1"  to="/loon/pcl_fusion_1/fused_pcl"/>
  </node>

  <!-- RVIZ -->
  <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find pose_graph_backend)/conf/pgbe_rviz.rviz" />
  
</launch>
